@media screen and (max-width: 1399px) {
  .l-logo img {
    max-width: 140px;
  }

  .l-logo {
    margin-bottom: 30px;
  }

  .news-latter h5 {
    font-size: 26px;
  }

  .footer-links h5 {
    font-size: 26px;
  }

  .footer-links a {
    font-size: 16px;
  }

  .banner-inner h1 {
    font-size: 46px;
  }

  .banner-right-sec h2 {
    font-size: 34px;
  }

  .section-sub-title {
    font-size: 24px;
  }

  .section-sub-title::after {
    width: 20px;
    height: 4px;
    margin: 14px 0 0 17px;
  }

  .section-title {
    font-size: 38px;
  }

  .about-box p {
    font-size: 18px;
  }

  .about-box span {
    font-size: 40px;
  }
}

@media screen and (max-width: 991px) {
  .nav-item.nav-link.active {
    border-bottom: unset;
  }

  .nav-item.nav-link {
    margin-left: 0;
    text-align: center;
    border: 0;
    font-size: 22px;
  }

  .nav-item.nav-link:hover {
    border-bottom: unset;
  }


  .news-latter h5 {
    font-size: 22px;
  }

  .news-latter-input {
    width: 100%;
    max-width: 100%;
  }

  .footer-links h5 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-links a {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .footer-main {
    margin: 50px 0 20px 0;
  }

  .f-social-media a img {
    max-width: 20px;
  }

  .banner-left-sec {
    text-align: center;
  }


  .banner-sec {
    padding: 50px 0 0 0;
  }

  .banner-inner h1 {
    font-size: 38px;
    margin-bottom: 15px;
  }

  .banner-inner p {
    font-size: 20px;
  }

  .banner-right-sec h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .banner-right-sec h2 {
    font-size: 22px;
  }

  .section-title {
    font-size: 33px;
    margin-bottom: 10px;
  }

  .section-sub-title {
    font-size: 22px;
  }


  .about-box span {
    font-size: 36px;
  }

  .about-box {
    min-height: 150px;
  }

  .about-inner-bottom {
    margin-top: 30px;
  }

  .nav-item.nav-link:hover {
    color: var(--white);
  }

  .nav-item.nav-link.active {
    color: var(--white);
  }

  .banner-left-sec .red-btn {
    margin: 0 auto;
    margin-top: 25px;
  }

  .blog-img img {
    width: 100%;
  }

  .blog-box {
    margin-bottom: 25px;
  }

  .banner-right-sec {
    margin-top: 30px;
  }
}



@media screen and (max-width: 767px) {
  .news-latter-input {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
  }

  .news-latter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-links {
    margin-bottom: 15px;
  }

  .about-box {
    min-height: unset;
    margin-bottom: 15px;
  }

  .about-p {
    padding-bottom: 30px;
  }

  .interinner {
    padding: 50px 15px 20px 15px;
  }
}

@media screen and (max-width: 575px) {
  .l-logo {
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }

  .form-control {
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
  }

  .form-group {
    margin-bottom: 10px;
    position: relative;
  }

  .brand-logo img {
    max-width: 125px;
  }

  .navbar-brand img {
    max-width: 130px;
  }

  .news-latter-input .blue-btn {
    max-width: 90px;
    margin-left: 8px;
  }

  .news-latter h5 {
    font-size: 20px;
  }

  .footer-links a {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .footer-links h5 {
    font-size: 22px;
  }

  footer .login-footer {
    padding: 13px 0;
  }

  .footer-main {
    margin: 0 0 10px 0;
  }

  footer {
    padding: 30px 0 0 0;
  }

  .f-logo {
    max-width: 200px;
  }

  .banner-inner h1 {
    font-size: 30px;
  }

  .banner-inner p {
    font-size: 16px;
    display: inline;
  }

  section {
    padding: 30px 0;
  }



  .section-title {
    font-size: 28px;
  }

  .section-sub-title {
    font-size: 20px;
  }

  .section-sub-title::after {
    width: 15px;
    height: 3px;
    margin: 12px 0 0 10px;
  }

  .logo-pannel {
    margin: 20px 0 30px 0;
  }

  .about-box span {
    font-size: 28px;
  }

  .about-box p {
    font-size: 14px;
  }

  .about-sec {
    padding-bottom: 15px;
  }

  .about-box {
    padding: 20px 8px;
  }

  .banner-sec {
    padding: 50px 0 0 0;
  }

  .footer-top {
    margin-top: 0;
  }

  .red-btn {
    padding: 7px 15px;
    font-size: 16px;
  }

  .content-section {
    padding-top: 0;
  }

  .bgnumber {
    display: none;
  }

  .valinner {
    position: unset;
    transform: unset;
    left: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .valPart {
    text-align: center;
    position: relative;
    padding-top: 0px;
  }
}

@media screen and (max-width: 399px) {
  .login-demo-btn.d-flex.align-items-center.pe-2.p-lg-0 {
    display: none !important;
  }
}