@font-face {
  font-family: 'Plus Jakarta Sans semibold';
  src: url('../fonts/PlusJakartaSans-SemiBold.eot');
  src: url('../fonts/PlusJakartaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-SemiBold.woff') format('woff'),
    url('../fonts/PlusJakartaSans-SemiBold.ttf') format('truetype'),
    url('../fonts/PlusJakartaSans-SemiBold.svg#PlusJakartaSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans bold';
  src: url('../fonts/PlusJakartaSans-Bold.eot');
  src: url('../fonts/PlusJakartaSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-Bold.woff') format('woff'),
    url('../fonts/PlusJakartaSans-Bold.ttf') format('truetype'),
    url('../fonts/PlusJakartaSans-Bold.svg#PlusJakartaSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik medium';
  src: url('../fonts/Rubik-Medium.eot');
  src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik-Medium.ttf') format('truetype'),
    url('../fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik semibold';
  src: url('../fonts/Rubik-SemiBold.eot');
  src: url('../fonts/Rubik-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-SemiBold.woff2') format('woff2'),
    url('../fonts/Rubik-SemiBold.woff') format('woff'),
    url('../fonts/Rubik-SemiBold.ttf') format('truetype'),
    url('../fonts/Rubik-SemiBold.svg#Rubik-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik regular';
  src: url('../fonts/Rubik-Regular.eot');
  src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular.ttf') format('truetype'),
    url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* font variables */
  --plus-jakarta-sans-semibold: 'Plus Jakarta Sans semibold';
  --plus-jakarta-sans-bold: 'Plus Jakarta Sans bold';
  --rubik-medium: 'Rubik medium';
  --rubik-regular: 'Rubik regular';
  --rubik-semibold: 'Rubik semibold';

  /* colors variables */
  --red: #DC3545;
  --white: #fff;
  --black: #121212;
  --light-bg: #F1F1EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--rubik-regular);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
figure,
label,
address {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--plus-jakarta-sans-bold);
  color: var(--black);
}

p {
  font-size: 18px;
  font-family: var(--rubik-regular);
  color: var(--black);
  margin-bottom: 0;
}

input::placeholder {
  opacity: 1;
}

input:focus-visible,
textarea:focus-visible {
  box-shadow: unset;
  outline: unset;
}

a,
button,
li {
  transition: 0.2s ease-in;
}

a {
  text-decoration: unset;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: unset;
}

.c-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}


/* ---------------header css start ------------------ */
.nav-item.nav-link {
  font-size: 20px;
  color: var(--black);
  margin-left: 20px;
  border-bottom: 2px solid transparent;
}

.nav-item.nav-link:first-child {
  margin-left: 0;
}

.nav-item.nav-link:hover {
  color: var(--red);
}

.nav-item.nav-link.active {
  color: var(--red);
}

.h-login-btn {
  border: 1px solid var(--red);
  background-color: transparent;
  color: var(--red);
  min-width: 100px;
}

.h-login-btn:hover {
  border: 1px solid var(--black);
}

.h-book-demo-btn {
  min-width: 200px;
}

.login-demo-btn a {
  margin-left: 20px;
}

header .offcanvas {
  background: var(--red);
}

/* header {
  background-color: var(--light-bg);
} */

.sticky_header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 11;
  box-shadow: 0px 0px 15px -2px rgba(220, 53, 69, 0.5);
}

.red-btn {
  background-color: var(--red);
  color: var(--white);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

/* ---------------header css end ------------------ */
/* ---------------footer css start---------------- */
footer {
  background: #F5FBFF;
  padding: 50px 0 0 0;
}

.news-latter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-latter h5 {
  font-size: 28px;
  font-family: var(--rubik-semibold);
}

.news-latter-input {
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 10px;
  background-color: var(--white);
}

.news-latter-input form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-latter-input .red-btn {
  max-width: 170px;
  margin-left: 15px;
}

.news-latter-input .form-control {
  background: transparent;
  border: 0;
  color: black;
  outline: 0;
  box-shadow: unset;
}

.blue-btn {
  background: #000;
  padding: 15px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #000;
}

.news-latter-input .form-control::placeholder {
  color: #000;
  opacity: 1;
}

.footer-main {
  margin: 0 0 30px 0;
}

.f-social-media {
  margin-top: 15px;
}

.f-social-media a {
  margin-right: 15px;
}


.f-social-media a img {
  max-width: 30px;
}

.footer-links h5 {
  font-size: 30px;
  font-family: var(--plus-jakarta-sans-semibold);
  color: var(--black);
  margin-bottom: 15px;
}

.footer-links a {
  color: var(--black);
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-links a:hover {
  color: var(--red);
}

.footer-links a img {
  margin-right: 10px;
}

footer .login-footer {
  padding: 20px 0;
  border-top: 1px solid var(--black);
  margin-top: 0;
}

footer .login-footer ul li,
footer .login-footer ul li a {
  color: var(--black);
}

.footer-m-links ul {
  padding-left: 20px;

}

.footer-m-links ul li {
  position: relative;
}

.footer-m-links ul li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../images/li-icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 6px;
  left: -20px;
}

.footer-top {
  margin-top: 50px;
}

.footer-top img {
  width: 100%;
}

.login-footer ul {
  display: flex;
  justify-content: center;
}

/* ---------------footer css end---------------- */
/* -------------- banner sec css start --------- */
section {
  padding: 50px 0;
}

.banner-sec {
  padding: 100px 0 0 0;
  background-color: var(--light-bg);
}

.banner-inner h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.banner-inner h1 span {
  color: var(--red);
}

.banner-inner p {
  color: var(--black);
  font-size: 18px;
}


.banner-right-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-left-sec .red-btn {
  max-width: 160px;
  margin-top: 25px;
}

/* -------------- banner sec css start --------- */
.section-title {
  font-size: 48px;
  color: var(--black);
  margin-bottom: 25px;
}

.section-title span {
  color: var(--red);
  display: block;
}

.job-section {
  padding: 50px 0;
}

.job-sec-box {
  text-align: center;
  cursor: pointer;
  transition: 0.5s all;
  padding: 20px;
}

.job-sec-icon {
  background: transparent;
  padding: 10px;
  border-radius: 100px;
  max-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 0.5s all;
}

.job-sec-icon img {
  transition: 0.5s all;
}

.job-sec-box h5 {
  color: var(--red);
  font-size: 24px;
  margin: 10px 0 15px 0;

}

.job-sec-box:hover {
  background: #FFF;
  box-shadow: 0px 4px 72px 1px rgba(0, 0, 0, 0.25);
}

.job-sec-box:hover .job-sec-icon {
  background-color: var(--black);
}

.job-sec-box:hover .job-sec-icon img {
  filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(212deg) brightness(104%) contrast(104%);
}

.job-section .section-title span {
  display: inline;
}

.content-sec-inner .red-btn {
  max-width: 250px;
  margin: 0 auto;
}

.content-sec-inner {
  background: #F5FBFF;
  padding: 50px 0;
  border-radius: 10px;
}

.blog-date {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  color: #7E7373;
  padding: 5px 10px;
  border-radius: 20px;
}

.blog-text {
  padding: 20px;
}

.readmore {
  color: var(--red);
  font-family: var(--rubik-medium);
}

.readmore:hover {
  color: var(--black);
}

.blog-shape {
  background: url(../images/blog-shape.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 125px;
  position: absolute;
  right: 0;
  bottom: -32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-box {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 5px 8px 0px #DDD;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
}

.blog-box:hover {
  background: var(--red);
  box-shadow: unset;
}

.blog-box:hover .blog-text h5,
.blog-box:hover .blog-text p {
  color: #fff !important;
}

.job-a-reality {
  padding: 0;
}

.feedback p.text-center {
  max-width: 900px;
  margin: 0 auto;
}

.feedback-inner .bgseeker {
  position: relative;
}

.feedback-inner .pro_one {
  position: absolute;
  left: 15%;
  top: 0;
}

.feedback-inner .pro_two {
  position: absolute;
  left: 35%;
  top: 40px;
}

.feedback-inner .pro_three {
  position: absolute;
  left: 25%;
  top: 210px;
}

.feedback-inner .pro_four {
  position: absolute;
  left: 60%;
  top: 0;
}

.feedback-inner .pro_five {
  position: absolute;
  left: 80%;
  top: 45px;
}

.feedback-inner .pro_six {
  position: absolute;
  left: 85%;
  top: 295px;
}

.feedback-inner {
  margin-top: 40px;
}

.form-inner {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F5FBFF;
  border-radius: 15px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-inner .form-group label {
  margin-bottom: 5px;
}

.form-control {
  border: 0;
  height: 40px;
  box-shadow: unset;
  font-size: 18px;
}

.f-password {
  color: var(--black);
}

.f-password:hover {
  color: var(--black);
}

.signup-link {
  color: var(--red);
}

.signup-link:hover {
  color: var(--red);
}

.sign-in-btn .red-btn {
  width: 100%;
  max-width: 400px;
  border: 0;
  margin: 15px auto 20px auto;
}

.Checkbox .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.Checkbox .form-group label {
  position: relative;
  cursor: pointer;
}

.Checkbox .form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid var(--red);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.Checkbox .form-group input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid var(--red);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



.upload-left-image .file {
  padding: 25px 10px 10px 10px;
  background: #fff;
  font-size: 18px;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: var(--red);
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
}

.upload-left-image .file input {
  padding: 0;
  cursor: pointer;
}

input[type="file"] {
  display: block;
}

input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: 0;
  border: 1px solid red;
}

.upload-left-image {
  border: 1px dashed var(--red);
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.upload-cv-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 15px 0 20px 0;
  gap: 15px;
}
.upload-cv-btn .red-btn{
  width: 100%;
}